<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.0.2" targetFramework="net46" />
  <package id="EFUtilities" version="1.0.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="EntityFramework.Extensions" version="0.0.2" targetFramework="net46" />
  <package id="EntityFramework6.BulkInsert" version="6.0.3.10" targetFramework="net46" />
  <package id="RobotMapper" version="2.5.2" targetFramework="net46" />
  <package id="Z.EntityFramework.Extensions" version="3.20.5" targetFramework="net46" />
</packages>